{% extends "layout.html" %}
<head>
  <title>Twitter</title>
</head>
{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers<br>
    </div>
    <div class="col-md-9">
      {% if showForm %}
      <form action="/tweets" method="POST">
        <label for="name_field">Name:</label>
        <input name="name" value="{{username}}" type="text" id="name_field" style="width: 100px;" /><br>
        <!-- need to update value to show user's name-->
        <label for="text_field">Text:</label>
        <input name="text" type="text" id="text_field" style="width: 100px;" /><br>

        <input type="submit" value="Submit" />
      </form>
      {% endif %}
      <h2>All Tweets</h2>
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <p>
        <img src='images/hqdefault.jpg' style='float: left; width:50px; height:50px;'/>
        <a href="/users/{{tweet.name}}">{{tweet.name}}</a>
        {{tweet.content}}<br>
        <span style =color:blue><strong>Re-tweet</strong></span>
      </p>

      {% endfor %}
    </div>
  </div>

{% endblock %}
Raw
